Codigo/WarlockSoft-c#/WarlockSoft/Web References/JUsuario/Usuario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicios/" targetNamespace="http://Servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="agregarUsuario" type="tns:agregarUsuario" />
  <xs:element name="agregarUsuarioResponse" type="tns:agregarUsuarioResponse" />
  <xs:element name="obtenerDatosUsuario" type="tns:obtenerDatosUsuario" />
  <xs:element name="obtenerDatosUsuarioResponse" type="tns:obtenerDatosUsuarioResponse" />
  <xs:element name="obtenerUsuario" type="tns:obtenerUsuario" />
  <xs:element name="obtenerUsuarioResponse" type="tns:obtenerUsuarioResponse" />
  <xs:element name="validarUsuario" type="tns:validarUsuario" />
  <xs:element name="validarUsuarioResponse" type="tns:validarUsuarioResponse" />
  <xs:complexType name="agregarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element name="dia" type="xs:int" />
      <xs:element name="mes" type="xs:int" />
      <xs:element name="ano" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="nickname" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuario">
    <xs:sequence>
      <xs:element name="id_usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nickname" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDatosUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nickname" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDatosUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>