Codigo/WarlockSoft-c#/WarlockSoft/Web References/JUsuario/Usuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Usuario" targetNamespace="http://Servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WarlockSoft/Usuario?xsd=1" namespace="http://Servicios/" />
    </xsd:schema>
  </types>
  <message name="validarUsuario">
    <part name="parameters" element="tns:validarUsuario" />
  </message>
  <message name="validarUsuarioResponse">
    <part name="parameters" element="tns:validarUsuarioResponse" />
  </message>
  <message name="agregarUsuario">
    <part name="parameters" element="tns:agregarUsuario" />
  </message>
  <message name="agregarUsuarioResponse">
    <part name="parameters" element="tns:agregarUsuarioResponse" />
  </message>
  <message name="obtenerUsuario">
    <part name="parameters" element="tns:obtenerUsuario" />
  </message>
  <message name="obtenerUsuarioResponse">
    <part name="parameters" element="tns:obtenerUsuarioResponse" />
  </message>
  <message name="obtenerDatosUsuario">
    <part name="parameters" element="tns:obtenerDatosUsuario" />
  </message>
  <message name="obtenerDatosUsuarioResponse">
    <part name="parameters" element="tns:obtenerDatosUsuarioResponse" />
  </message>
  <portType name="Usuario">
    <operation name="validarUsuario">
      <input wsam:Action="http://Servicios/Usuario/validarUsuarioRequest" message="tns:validarUsuario" />
      <output wsam:Action="http://Servicios/Usuario/validarUsuarioResponse" message="tns:validarUsuarioResponse" />
    </operation>
    <operation name="agregarUsuario">
      <input wsam:Action="http://Servicios/Usuario/agregarUsuarioRequest" message="tns:agregarUsuario" />
      <output wsam:Action="http://Servicios/Usuario/agregarUsuarioResponse" message="tns:agregarUsuarioResponse" />
    </operation>
    <operation name="obtenerUsuario">
      <input wsam:Action="http://Servicios/Usuario/obtenerUsuarioRequest" message="tns:obtenerUsuario" />
      <output wsam:Action="http://Servicios/Usuario/obtenerUsuarioResponse" message="tns:obtenerUsuarioResponse" />
    </operation>
    <operation name="obtenerDatosUsuario">
      <input wsam:Action="http://Servicios/Usuario/obtenerDatosUsuarioRequest" message="tns:obtenerDatosUsuario" />
      <output wsam:Action="http://Servicios/Usuario/obtenerDatosUsuarioResponse" message="tns:obtenerDatosUsuarioResponse" />
    </operation>
  </portType>
  <binding name="UsuarioPortBinding" type="tns:Usuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="validarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerDatosUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Usuario">
    <port name="UsuarioPort" binding="tns:UsuarioPortBinding">
      <soap:address location="http://localhost:8080/WarlockSoft/Usuario" />
    </port>
  </service>
</definitions>